.rtl {
    direction: rtl;
    text-align: right;

    .float-right {
        float: left !important;
    }

    .text-left {
        text-align: right !important;
    }
    .text-right {
        text-align: left !important;
    }

    header {
        .search > .btn {
            right: auto;
            left: 15px;
        }

        .navbar-brand {
            margin-right: 0;
            margin-left: 50px;

            .logo {
                margin-right: 0;
                margin-left: 15px;
            }
        }

        &.active {
            .navbar-brand {
                margin-right: 0;
                margin-left: 30px;

                .logo {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }

        .dropdown {
            text-align: right;

            .dropdown-menu {
                text-align: right;

                .dropdown-item {
                    text-align: right;
                }
            }
        }

        .navbar-nav > .nav-item.dropdown > .dropdown-menu.megamenu .megamenu-sub-title .icon {
            margin-right: 0;
            margin-left: 15px;
        }
    }

    .loader-logo {

        .logo {
            margin-left: 20px;
            margin-right: 0;
        }

        .logo-text {
            text-align: right;
        }
    }

    .sidebar-right {
        right: auto;
        left: -85px;

        &.active {
            right: auto;
            left: 0;
        }

        .colorselect {
            margin: 0 0px 5px 5px;
        }
    }

    .btn {
        &.colorsettings {
            right: auto;
            left: -5px;
            border-radius: 0 20px 20px 0;

            &.active {
                right: auto;
                left: 65px;
            }
        }
    }

    .sidebar {
        right: -290px;
        left: auto;
    }

    &.sidemenu-open .sidebar {
        right: 0;
    }

    .swiper-wrapper {        

        .swiper-slide {
            direction: rtl
        }
    }

    .bottom-right {
        left: 15px;
        right: auto;
    }

    .bottom-left {
        right: 15px;
        left: auto;
    }

    .border-left {
        border-left: 0 !important;
        border-right: 1px solid #dee2e6 !important;
    }

    .col.pl-0 {
        padding-left: 15px !important;

    }

    .pl-0 {
        padding-right: 0 !important;
    }

    .ml-0,
    .mx-0 {
        margin-right: 0 !important;
    }

    .pl-2,
    .px-2 {
        padding-left: inherit !important;
        padding-right: .5rem !important;
    }

    .mr-auto {
        margin-right: 0 !important;
        margin-left: auto !important;
    }

    .ml-auto {
        margin-left: 0 !important;
        margin-right: auto !important;
    }

    .mx-auto {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .mr-2,
    .mx-2 {
        margin-left: .5rem !important;
        margin-right: 0 !important;
    }

    .mr-3,
    .mx-3 {
        margin-right: 0 !important;
        margin-left: 1rem !important;
    }

    .ml-3,
    .mx-3 {
        margin-left: 0 !important;
        margin-right: 1rem !important;
    }

    .mr-0,
    .mx-0 {
        margin-left: 0 !important;
    }



    .nav {
        padding-right: 0
    }

}
